.Jumbotron {
    background-color: white;
}

h2 {
    font-family: 'La Belle Aurore', cursive;
    color: #d1c4e9;
    text-align: center;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container-h {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}   
