.Jumbotron {
    max-width: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

h2 {
    font-family: 'La Belle Aurore', cursive;
    color: peachpuff;
    text-align: center;
}

.container-h {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h3 {
    color: white;
    font-size: 10px; 
}