.Jumbotron {
    background-color: white;
}

h2 {
    font-family: 'La Belle Aurore', cursive;
    color: lightsalmon;
    text-align: center;
    font-weight: bolder;

}

.container-h {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}


