.Signup-Header {
    font-size: 2.50rem;
    text-align: center;
    font-family: 'Salsa', cursive;
    color: black;

}

.Container{
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font: 18px Arial, sans-serif;
}