.feedForm {
    margin: auto;
    width: 80%;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

.TextBio {
    margin-top: 30px;
}

.submitButton {
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-bottom: 15px;

}

.uploadButton {
    text-align: center;
    padding: 30px;
    background-color: white;
}

.newPost {
    background-color: white;
    padding: 30px;
}

.tributeLabel {
    text-align: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Salsa', cursive;
    font-size: 30px;
}

.FormHeading {
    margin-bottom: .5rem;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-left: 250px;
    font-family: 'Salsa', cursive;
}

.form-row {
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Salsa', cursive;
}

.card-link {
    font-family: 'Salsa', cursive;
    font-size: 20px;
}

input {
    padding: 25px;
    padding-bottom: 0px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}