form {
    margin: auto;
    width: 90%;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
}
textarea {
    height: 200px;
    width: 200px;
}
.submitButton {
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-bottom: 15px;

}
.uploadButton {
    text-align: center;
    padding: 30px;
    background-color: white;
}
.newPost {
    background-color: white;
    padding: 30px;
}
.tributeLabel {
    text-align: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 30px;
    font-weight: bolder;
}