.Body {
    background-color: #6bbaa7;
   
}
.Login-Header {
    background-color: #B6A19E;
    font-size: 2.20rem;
}

.Container {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.Btn {
    background-color: #FBA100;
    border-radius: 4px;
    padding: 10px 24px;
}