.Body {
   
   
}
.Login-Header {
    font-size: 3.50rem;
    text-align: center;
    font-family: 'Salsa', cursive;
    color: black;
    padding: 20px;
    
}

.Container {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;

    
}

.Btn {
    background-color: black;
    border-radius: 12px;
    padding: 5px 20px;
    color: white;
    font-family: 'Salsa', cursive;
    border: 2px solid black;
}


a{
    font-family: 'Dancing Script', cursive;
    color: white;
    padding: 20px;
    float: left;
    font-size: 50px
}

label{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}